@model List<Urun>

<ul>
    @foreach (var item in Model)
    {
        <li>@item.Ad @item.Fiyat</li>
    }
</ul>


<table border="1px">
    <thead>
        
        <tr>
            <th>Id</th>
            <th>Ad</th>
            <th>Fiyat</th>

        </tr>
    </thead>
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Ad</td>
            <td>@item.Fiyat</td>
        </tr>
    }
</tbody>
</table>